<config>
	
	<!-- --------------------------- TIMER -------------------------- -->
	
	<auth>FtdV5IIJap</auth>

	<!-- forward, countdown -->
	<timerDefaultMode>countdown</timerDefaultMode>
	<timerCountdownModeDefaultPeriod>420</timerCountdownModeDefaultPeriod>
	<timerCountdownModeStep>30</timerCountdownModeStep>

	<!-- --------------------------- KEY ---------------------------- -->


	<keyScorePlusA>1</keyScorePlusA>
	<keyScoreMinusA>2</keyScoreMinusA>
	<keyScorePlusB>3</keyScorePlusB>
	<keyScoreMinusB>4</keyScoreMinusB>
	<keyScoreReset>5</keyScoreReset>

	<keyTimeStartStop>6</keyTimeStartStop>

	<keyTimeForwardMode>7</keyTimeForwardMode>
	<keyTimeForwardReset>8</keyTimeForwardReset>
	
	<keyTimeCountdownMode>9</keyTimeCountdownMode>
	<keyTimeCountdownPlus>a</keyTimeCountdownPlus>
	<keyTimeCountdownMinus>b</keyTimeCountdownMinus>
	
</config>